<a style="font-size:200%" class="dropbtn btn btn-primary btn-lg" href="/Home/Index/">назад</a>
<center><h2>Наша история</h2></center>
<hr>
<p></p>

<iframe src='http://job.transoil.by/' width="800" height="800">Ваш браузер не поддерживает плавающие фреймы!</iframe>