<a href="/Home/Onewindow/"><img width="200" src="/Images/back.png" /></a>
<center><h2>Нормативная документация</h2></center>
<hr>
<a style="font-size:200%" href="#">Указ Президента Республики Беларусь от 15 октября 2007 г. № 498 «О дополнительных мерах по работе с обращениями граждан и юридических лиц»</a>
<h1></h1>
<a style="font-size:200%" href="#">Директива Президента Республики Беларусь от 27 декабря 2006 г. №2 «О мерах по дальнейшей дебюрократизации государственного аппарата»</a>
<h1></h1>
<a style="font-size:200%" href="#">Закон Республики Беларусь от 18 июля 2011 года № 300-З «Об обращениях граждан и юридических лиц»</a>
<h1></h1>
<a style="font-size:200%" href="#">
    Постановление Совета Министров Республики Беларусь от 23 июля 2012 г. № 667 «О некоторых вопросах работы с обращениями граждан и юридических лиц»
</a>




