<script>
    var snd = new Audio("/Music/bip.mp3");
</script>
<style type="text/css">
    TH {
        background: #EFF5FB; /* Цвет фона */
        border-bottom: double;
    }

    tr:nth-child(odd) {
        background: #EFF5FB; /* Цвет фона */
    }

    tr:nth-child(even) {
        background: #f0f8ff; /* Цвет фона */
    }
</style>
<a href="/Home/Index/"><img width="200" src="/Images/back.png" /></a>
<center><h2>Наша история</h2></center>
<hr>
<p></p>
<table>
    <tr>
        <td><h1>2019</h1></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            1 октября – осуществлена реорганизация ОАО «Гомельтранснефть Дружба» путем присоединения ОАО «Полоцктранснефть Дружба» в качестве филиала по транспортировке нефти «Новополоцк».
            23 ноября – ОАО «Гомельтранснефть Дружба» отметило 55-летие со дня основания предприятия.
            Завершены работы по объектам:
            – «Магистральные нефтепроводы. Модернизация резервуарного парка. Возведение резервуара №13 вместимостью 20 000 м3 ЛПДС «Мозырь»
            – «Реконструкция МН «Мозырь – Броды» 1 и 2 диаметром 720 мм, на участке 32 км – государственная граница с Украиной»
            – «Модернизация системы видеонаблюдения и периметральной охранной сигнализации ЛПДС «Мозырь»
        </td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>2018</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Завершены работы по объектам:

            – «Реконструкция технологических трубопроводов и запорной арматуры ССВД «Аркрон-1000» НС-1 и НС-2 НПС «Гомель»

            – «Модернизация перехода магистрального нефтепровода «Мозырь-Брест» Ду820мм на пересечении с железной дорогой «Мозырь-Брест» (282км+415м)»

            – «Реконструкция подводного перехода магистрального нефтепровода «Мозырь-Брест» DN600 и DN800 основная км 100-105 и резервная нитки DN800 км 103-105 через р. Ствига с заменой труб»
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>2017</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Завершены работы по объектам:

            – «Модернизация перехода магистрального  нефтепровода  «Мозырь-Брест» Ду 630, 720, 820 на пересечении с железной дорогой Столин-Лунинец (181 км+270 м)»

            – «Реконструкция подводного перехода магистрального  нефтепровода  «Мозырь-Брест» DN 600 и DN 800 основная и резервная нитка км 199-200 через р. Стыр с заменой труб»

            – «Реконструкция магистрального нефтепровода «Унеча-Мозырь» DN 1000 с заменой труб, ПК 158+700 –ПК 181+19 с обустройством вдольтрассового проезда на 165-176 км»

            – «Модернизация нефтепровода «Мозырь-МНПЗ» Ду 530 мм,720 мм на участке ПК 7км-100м-7км+950м, с обустройством защитных кожухов на пересечениях с железной дорогой ПК: км 7км+090, 7км+120, 7км+860»
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>2016</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            На ЛПДС «Мозырь» приняты в эксплуатацию два резервуара (№11,12) по 50 тысяч кубометров нефти каждый.

            Завершены работы по объектам:

            — «Реконструкция подводного перехода магистрального нефтепровода «Унеча-Мозырь» DN800 (основная нитка) и DN1000 (основная нитка) через р. Сож с заменой труб, км 155-156»

            — «Реконструкция подводного перехода магистрального нефтепровода «Мозырь-Брест» DN800 основная нитка и резервная нитка через р. Горынь с заменой труб, км 163-164»

            — «Реконструкция подводного перехода магистрального нефтепровода «Мозырь-Брест» DN600 (основная нитка) и DN800 (основная нитка) через оз. Глиницкое с заменой труб, км 49-50»

            — «Реконструкция подводного перехода магистрального нефтепровода «Мозырь-Брест» DN 800 основная нитка через р. Уборть. с заменой труб, км 59-60»
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>2015</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Завершены работы по объектам:

            — «Реконструкция подводного перехода магистрального нефтепровода Унеча-Мозырь 2DN 1000 основная нитка через р. Днепр с заменой труб, км 181-188»

            — «Реконструкция подводного перехода магистрального нефтепровода «Мозырь-Брест» DN800 основная нитка и резервная нитка через р. Горынь с заменой труб, км 163-164»
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>2014</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Завершено строительство теплотрассы от ЦТС «Мозырская ТЭЦ» до котельной ЛПДС «Мозырь» II очередь.
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>2013</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Завершен первый этап строительства 2-х резервуаров (№11,12) по 50 тысяч кубометров нефти каждый на ЛПДС «Мозырь».

            Реконструкция технологических насосных на НПС «Гомель», НПС «Пинск.

            Замена резервной нитки нефтепровода „Унеча-Мозырь” методом ГНБ через р.Припять и нефтепровода „Мозырь-Брест” через р.Убороть.
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>2012</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Сдан в эксплуатацию объект: «Реконструкция магистрального нефтепровода Унеча — Мозырь на участке НПС „Гомель” — ЛПДС „Мозырь”. Первая очередь реконструкции. Второй пусковой комплекс» (переход через р. Днепр).

            Законченного строительством объекта: «Реконструкция магистрального нефтепровода Унеча — Мозырь на участке НПС „Гомель” — ЛПДС „Мозырь”. Первая очередь реконструкции. Четвертый пусковой комплекс» (переход через р. Сож).
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>

    <tr>
        <td><h1>2011</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Начато строительство еще двух резервуаров по 50 тысяч кубометров нефти каждый. Задача увеличения объема парка является актуальной, так как сейчас предприятие работает с тремя сортами нефти. Таким образом, группы резервуаров позволят дифференцировать нефтяные потоки разных сортов.

            На НПС «Гомель» ведется коренная реконструкция насосной №1, подобные насосные уже существует на всех нефтеперекачивающих станциях предприятия и предназначены для оптимизации различных технологических режимов перекачки нефти.
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>2010</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            На ЛПДС «Мозырь» приняты в эксплуатацию два резервуара по 50 тысяч кубометров нефти каждый.

            Значительно обновлены подводные переходы магистральных нефтепроводов под реками юга белорусского Полесья.

            2010г стал для предприятия рекордным по количеству объектов и объему работ по реконструкции и строительству объектов магистральных нефтепроводов.
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>2009</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            На ЛПДС «Мозырь» продолжается строительство резервуаров емкостью по 50 тыс. куб. метров.

            На НПС «Гомель» завершается реконструкция электроподстанции. Таким образом, в целом будет модернизировано электроснабжение всех НПС предприятия.
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>2007</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Начато строительство новых насосных на НПС «Туров» и НПС «Кобрин».
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>2006</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            На ЛПДС «Мозырь» введена в эксплуатацию насосная 4/1, оборудованная вертикальными насосами.

            Завершено строительство волоконно-оптической линии связи на всем протяжении магистрального нефтепровода предприятия.
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>2003</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Завершено строительство лупингов и начата транспортировка нефти по третьей нитке нефтепровода «Мозырь – Адамово».

            Введены в эксплуатацию два резервуара емкостью по 75 тыс. куб. метров на ЛПДС «Мозырь».

            Введены в эксплуатацию административное здание на НПС «Гомель» и пристройка к зданию управления предприятия в Гомеле.
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1999</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Утверждена программа технического перевооружения ГПТН «Дружба» до 2010 года, цель которой – экологическая безопасность, экономическая эффективность предприятия и улучшение благосостояния работников.

            Построено 37 километров лупинга для третьей нитки нефтепровода «Мозырь-Адамово».
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1992</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Гомельское управление стало самостоятельным государственным предприятием и переименовано в Гомельское предприятие транспорта нефти «Дружба».
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1980</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Введена в эксплуатацию насосная №5 ЛПДС «Мозырь».
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1978</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Введена в эксплуатацию построенная специалистами Польши вторая очередь НПС «Защебье».
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1977</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Сданы в эксплуатацию построенные специалистами Польши вторая очередь НПС «Кобрин» и НПС «Туров».

            Введены в эксплуатацию резервуарный парк второй очереди и системы учета нефти на ЛПДС «Мозырь».
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1975</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Введена в эксплуатацию насосная №4 ЛПДС «Мозырь».

            Введена в строй вторая очередь НПС «Гомель».
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1973</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Введена в эксплуатацию насосная №3 ЛПДС «Мозырь».
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1971</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Коллектив УМН «Дружба» награжден орденом Трудового Красного Знамени.
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1969</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Начато строительство второй очереди нефтепровода «Дружба».
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1967</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Введены в эксплуатацию НПС «Кобрин», НПС «Туров», НПС «Защебье».
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1965</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Приказом УМН Дружба» определены состав и границы Гомельского управления нефтепровода «Дружба», сформирован коллектив предприятия.

            В нефтепровод «Дружба» начала поступать нефть Речицкого месторождения.

            Введена в эксплуатацию НПС «Гомель».
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1964</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Введена в эксплуатацию насосная №2 ЛПДС «Мозырь».

            Завершено строительство линейной части нефтепровода «Дружба» первой очереди.

            Введена в эксплуатацию насосная №1 ЛПДС «Мозырь».

            Издан приказ Газпрома СССР об образовании Гомельского управления нефтепровода «Дружба».

            Введена в эксплуатацию НПС «Пинск».
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1963</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Закончено строительство нефтепроводов «Мозырь-Броды» и «Мозырь-Брест».

            Нефть по нефтепроводу «Дружба» поступила в резервуары приемного пункта «Адамова Застава» в Польше.
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1962</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Первые тонны нефти по нефтепроводу поступили в резервуары чехословацкой НПС «Будковцы», ознаменовав начало рабочей биографии нефтепровода «Дружба».

            По нефтепроводу «Дружба» нефть поступила в Венгрию.
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1961</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Завершение работы по строительству магистрали от города Броды до города Ужгорода.

            Образовано Львовское управление нефтепровода «Дружба».

            Нефтеперекачивающая станция Броды приняла первый железнодорожный состав с нефтью для дальнейшей транспортировки её по нефтепроводу в ЧССР.
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
    <tr>
        <td><h1>1959</h1></td>
        <td>&nbsp; &nbsp;&nbsp;</td>
        <td>
            Подписано соглашение между правительствами СССР, ВНР, ЧССР, ПНР и ГДР о строительстве нефтепровода и поставках советской нефти в страны СЭВ.
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>____________________________________________________________________________________________________________________________________________________________</td>
    </tr>
</table>


    <script type="text/javascript">
        var no_active_delay = 10; // Количество секунд простоя мыши, при котором пользователь считается неактивным
        var now_no_active = 0; // Текущее количество секунд простоя мыши
        setInterval("now_no_active++;", 1000); // Каждую секунду увеличиваем количество секунд простоя мыши
        setInterval("updateChat()", 1000); // Запускаем функцию updateChat() через определённый интервал
        document.onmousemove = activeUser; // Ставим обработчик на движение курсора мыши
  function activeUser() {
            now_no_active = 0; // Обнуляем счётчик простоя секунд
      }
  function updateChat() {
      if (now_no_active >= no_active_delay) { // Проверяем не превышен ли "предел активности" пользователя
        window.location = '/Home/Index';
            //alert("Пользователь не активен"); // В реальности стоит убрать, а здесь дано как доказательство того, что всё работает
        return;
      }
      /* Обновляем чат */
    }
</script>
    
