<a href="/Home/Index/"><img width="200" src="/Images/back.png" /></a>
<center><h2>Одно окно</h2></center>
<hr>
<p></p>

<center>
    <div>
        <table>
            <tr>
                <td>
                    <a href="/Home/Grafik/"><img width="1000" src="/Images/grafik.png" /></a>
                </td>
            </tr>
            <tr>
                <td>
                    <h1></h1>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/Home/Documentation/"><img width="1000" src="/Images/normativ.png" /></a>
                </td>
            </tr>
            <tr>
                <td>
                    <h1></h1>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/Home/Procedure/"><img width="1000" src="/Images/proced.png" /></a>
                </td>
            </tr>
            <tr>
                <td>
                    <h1></h1>
                </td>
            </tr>

        </table>


    </div>
</center>
