
<a href="/Home/Index/"><img width="200" src="/Images/back.png" /></a>
<div>
    <video width="1000" height="700" controls="controls" autoplay>
        <source src="/Images/Video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>

    </video>

</div>