<a style="font-size:200%" class="dropbtn btn btn-primary btn-lg" href="/Home/Grafik/">назад</a>
<p align="center"></p>
<p>
</p>

<p style="text-align: center;">
    <b>ГРАФИК </b><br>
    <b>
        проведения личного приема граждан, их представителей,
    </b><b>
        представителей
        юридических лиц&nbsp;<br>
    </b><b>
        начальниками филиалов, заместителями начальников
        филиалов ОАО&nbsp;&nbsp;
    </b>
</p>
<p style="text-align: center;">
</p>
<table border="1" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td>
                <p align="center">
                    <b>Фамилия, имя, отчество </b>
                </p>
                <b> </b>
            </td>
            <td>
                <b> </b>
                <p align="center">
                    <b>
                        Должность
                    </b>
                </p>
                <b> </b>
            </td>
            <td>
                <b> </b>
                <p align="center">
                    <b>
                        Время и место приема
                    </b>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <b>СНЕГОВСКОЙ</b><br>
                <b>
                    Геннадий<br>
                </b><b>
                    Анатольевич<br>
                </b><b>
                    <br>
                </b>
                <p></p>
                <p>
                    <b>КУХТО</b><br>
                    <b>
                        Юрий<br>
                    </b><b>Геннадьевич</b>
                </p>
                <p>
                    <b>
                        <br>
                    </b>
                </p>
                <b> </b>
                <p>
                    <b>
                        ДРАГУНОВ
                    </b><br>
                    <b>
                        Михаил<br>
                    </b><b>Николаевич</b>
                </p>
                <p>
                    <b>
                        <br>
                    </b>
                </p>
                <p>
                    <br>
                </p>
                <p>
                </p>
                <p>
                    <b>
                        <br>
                    </b>
                </p>
                <p>
                    <b>
                        <br>
                    </b>
                </p>
            </td>
            <td>
                <p>
                    Начальник филиала&nbsp;по транспортировке нефти
                    &laquo;Новополоцк&raquo;
                </p>
                <p>
                    <br>
                </p>
                <p>
                </p>
                <p>
                   заместитель начальника (по эксплуатации, транспорту нефти и нефтепродуктов) филиала по транспортировке нефти «Новополоцк»
                </p>
                <p>
                    <br>
                </p>
                <p>
                    заместитель начальника (по строительству) филиала по транспортировке
                    нефти &laquo;Новополоцк&raquo;
                </p>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>
                <p>
                </p>
            </td>
            <td>
                <p>
                    первая среда месяца с 08:00 &ndash; 11:00
                </p>
                <p>
                    <br>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                    третий вторник месяца с 08:00 &ndash; 11:00
                </p>
                <p>
                    <br>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                    четвертый вторник месяца с 08:00 &ndash; 11:00
                </p>
                <p>
                    <br>
                </p>
                <p>
                </p>
                <p>
                    Предварительную запись осуществляет делопроизводитель
                </p>
                <p>
                    Татьяна Михайловна Плясова
                </p>
                <p>
                    тел. + 375&nbsp;214 51 22 46
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <b>КУКСЮК</b><br>
                    <b>Николай Николаевич</b>
                </p>
            </td>
            <td>
                <p>
                    начальник филиала &laquo;Нефтеперекачивающая станция
                    &laquo;Кобрин&raquo;
                </p>
            </td>
            <td>
                <p>
                    первая среда месяца
                </p>
                <p>
                    с 08:00 &ndash; 11:00
                </p>
                <p>
                </p>
                <p>
                    Предварительную запись осуществляет специалист по кадрам
                </p>
                <p>
                    Татьяна Сергеевна Корягина
                </p>
                <p>
                    тел. + 375&nbsp;164 27 82 54
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <b>ЯКУБЕЦ</b><br>
                    <b>Валерий Павлович</b>
                </p>
            </td>
            <td>
                <p>
                    начальник филиала &laquo;Нефтеперекачивающая станция
                    &laquo;Пинск&raquo;
                </p>
            </td>
            <td>
                <p>
                    первая среда месяца
                </p>
                <p>
                    с 08:00 &ndash; 11:00
                </p>
                <p>
                </p>
                <p>
                    Предварительную запись осуществляет специалист по кадрам
                </p>
                <p>
                    Светлана Аркадьевна Северин
                </p>
                <p>
                    тел. + 375&nbsp;165&nbsp;31 22 11
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <b>КОРОЛЕЦ</b><br>
                    <b>Василий Григорьевич</b>
                </p>
            </td>
            <td>
                <p>
                    начальник филиала &laquo;Нефтеперекачивающая станция
                    &laquo;Туров&raquo;
                </p>
            </td>
            <td>
                <p>
                    первая среда месяца
                </p>
                <p>
                    с 08:00 &ndash; 11:00
                </p>
                <p>
                </p>
                <p>
                    Предварительную запись осуществляет специалист по кадрам
                </p>
                <p>
                    Светлана Ивановна Загорная
                </p>
                <p>
                    тел. + 375&nbsp;2353 91 82 20
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <b>ЯЩИН</b><br>
                    <b>Сергей Леонидович</b>
                </p>
                <b> </b>
                <p>
                    <b> </b>
                </p>
                <b> </b>
                <p>
                    <b> </b>
                </p>
                <b> </b>
                <p>
                    <b> </b>
                </p>
                <b> </b>
                <p>
                    <b>
                        КУЧУК
                    </b><br>
                    <b>Николай Иванович</b>
                </p>
            </td>
            <td>
                <p>
                    начальник филиала &laquo;Линейная производственная
                    диспетчерская станция Мозырь&raquo;
                </p>
                <p>
                </p>
                <p>
                    <br>
                </p>
                <p>
                    заместитель начальника филиала &laquo;Линейная производственная
                    диспетчерская станция Мозырь&raquo;
                </p>
            </td>
            <td>
                <p>
                    первая среда месяца
                </p>
                <p>
                    с 08:00 &ndash; 11:00
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                    третий вторник месяца
                </p>
                <p>
                    с 08:00 &ndash; 11:00
                </p>
                <p>
                </p>
                <p>
                    Предварительную запись осуществляет делопроизводитель
                </p>
                <p>
                    Ольга Петровна Даринская
                </p>
                <p>
                    тел. + 375&nbsp;236 37 42 40&nbsp;
                </p>
            </td>
        </tr>        
        <tr>
            <td>
                <p>
                    <b>ВИКУЛОВ</b><br>
                    <b>Василий Леонидович</b>
                </p>
<p>
                </p>
                
                <p>
                    <b>СТЕПУТЕНКО</b><br>
                    <b>Николай Вячеславович</b>
                </p>
            </td>
            <td>
                <p>
                    начальник филиала
                </p>
                <p>
                    &laquo;Нефтеперекачивающая станция &laquo;Гомель&raquo;
                </p>
<br>
                </p>
                <p>
                </p>
                
                <p>
                    заместитель начальника филиала "Нефтеперекачивающая  станция "Гомель"
                </p>
                <p>
                </p>
                <p>
                    <br>
                </p>
            </td>
            <td>
                <p>
                    первая среда месяца
                </p>
                <p>
                    с 08.00 - 11.00
                </p>
<p>
<p>
<br>
</p>
                    третий вторник месяца
                </p>
                <p>
                    с 08:00 &ndash; 11:00
                </p>
                <p>
                </p>
                <p>
                    Предварительную запись осуществляет специалист по кадрам
                </p>
                <p>
                    Алла Владимировна Григолия
                </p>
                <p>
                    тел. + 375&nbsp;232 79 75 40
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <b>МАРТЫНЕНКО</b><br>
                    <b>
                        Павел<br>
                    </b><b>Анатольевич</b>
                </p>
                <p>
                </p>
                
                <p>
                    <b>СУШКИН</b><br>
                    <b>Евгений Игоревич</b>
                </p>
                <b> </b>
                <p>
                    <b> </b>
                </p>
                <b> </b>
                <p>
                    <b> </b>
                </p>
                <b> </b>
                <p>
                    <b> </b>
                </p>
                <b> </b>
                <p>
                    <b> </b>
                </p>
                <b> </b>
                <p>
                    <b>
                        ХОМЧЕНКО
                    </b><br>
                    <b>
                        Вадим<br>
                    </b><b>Сергеевич</b>
                </p>
            </td>
            <td>
                <p>
                    начальник филиала &laquo;Центральная база
                    производственного обслуживания&raquo;
                </p>
                <p>
                </p>
                <p>
                    <br>
                </p>
                <p>
                </p>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>
                <p>
                    заместитель начальника (по производству) филиала &laquo;Центральная
                    база производственного обслуживания&raquo;
                </p>
                <p>
                </p>
                <p>
                    <br>
                </p>
                <p>
                    заместитель начальника (по строительству) филиала
                    &laquo;Центральная база производственного обслуживания&raquo;
                </p>
                <p>
                </p>
                <p>
                </p>
            </td>
            <td>
                <p>
                    первая среда месяца
                </p>
                <p>
                    с 08:00 &ndash; 11:00
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                    третий вторник месяца
                </p>
                <p>
                    с 08:00 &ndash; 11:00
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                    четвертый вторник месяца
                </p>
                <p>
                    с 08:00 &ndash; 11:00
                </p>
                <p>
                </p>
                <p>
                    Предварительную запись осуществляет секретарь
                </p>
                <p>
                    Виктория Викторовна Бобченок
                </p>
                <p>
                    тел. + 375&nbsp;232 79 70 20
                </p>
            </td>
        </tr>
        
    </tbody>
</table>
<p>
</p>
<p>
</p>
<p>
</p>

<script type="text/javascript">
        var no_active_delay = 600; // Количество секунд простоя мыши, при котором пользователь считается неактивным
        var now_no_active = 0; // Текущее количество секунд простоя мыши
        setInterval("now_no_active++;", 1000); // Каждую секунду увеличиваем количество секунд простоя мыши
        setInterval("updateChat()", 1000); // Запускаем функцию updateChat() через определённый интервал
        document.ontouchend = activeUser; // Ставим обработчик на движение курсора мыши
  function activeUser() {
            now_no_active = 0; // Обнуляем счётчик простоя секунд
      }
  function updateChat() {
      if (now_no_active >= no_active_delay) { // Проверяем не превышен ли "предел активности" пользователя
        window.location = '/Home/Index';
            
        return;
      }
      /* Обновляем чат */
    }
</script>
