<a style="font-size:200%" class="dropbtn btn btn-primary btn-lg" href="/Home/Grafik/">назад</a>
<p align="center">
    <b>ГРАФИК</b><br>
    <b>
        личного приема граждан, их представителей, юридических лиц
        в&nbsp;администрации Железнодорожного района г.Гомеля
    </b>
</p>
<div class="yer">
    <table border="1" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    Ф. И. О.
                </td>
                <td>
                    Должность
                </td>
                <td>
                    День и время приема
                </td>
            </tr>
            <tr>
                <td>
                    СИВАКОВ<br>
                    Александр Иванович<br>
                </td>
                <td>
                    Глава администрации
                </td>
                <td>
                    еженедельно по средам 08.00 – 13.00 час.,<br>
Предварительная запись по тел. 33 99 30 
                </td>
            </tr>
            <tr>
                <td>
                    ИВАНОВ<br>
                    Андрей Андреевич
                </td>
                <td>
                    Первый заместитель главы<br>
                    администрации
                </td>
                <td>
                    1,3,5 вторник месяца 14.00 – 20.00 час.,<br>
2,4 вторник месяца 8.00-13.00 час. тел. 33 99 02
                </td>
            </tr>
            <tr>
                <td>
                    ЖУК<br>
                    Наталья Федоровна
                </td>
                <td>
                    Заместитель главы администрации
                </td>
                <td>
                    еженедельно по четвергам 8.00 – 13.00 час., тел. 33 99 03
                </td>
            </tr>
            <tr>
                <td>
                    КУНИЦКАЯ<br>
                    Надежда Григорьевна
                </td>
                <td>
                    Заместитель главы администрации
                </td>
                <td>
                    1,3,5 среда месяца 8.00 – 13.00 час.; <br>
2,4 среда месяца 14.00-20.00 час. тел.33 99 04

                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        ЧЕМЕЗОВ Станислав Станиславович&nbsp;
                        &nbsp;&nbsp;
                    </p>
                </td>
                <td>
                    Управляющий делами администрации
                </td>
                <td>
                    еженедельно по понедельникам 8.00 – 13.00 час., тел. 33 99 05
                </td>
            </tr>
            <tr>
                <td>
                    САМУСЕВА <br>
                    Ирина Владимировна
                </td>
                <td>
                    Начальник управления социальной защиты
                </td>
                <td>
                   еженедельно по четвергам 8.00 – 13.00 час., тел. 33 99 50
                </td>
            </tr>
            <tr>
                <td>
                    БОРИСЕНКО<br>
                    Карина Сергеевна<br>
                </td>
                <td>
                    Начальник отдела ЗАГС
                </td>
                <td>
                    еженедельно по вторникам 8.00 – 13.00 час. тел. 33 52 96
                </td>
            </tr>
            <tr>
                <td>
                    СУПОНЕВ<br>
                    Денис Сергеевич<br>
                </td>
                <td>
                    заместитель начальника отдела жилищно-коммунального хозяйства и
                    благоустройства (вопросы архитектуры и строительства)
                </td>
                <td>
                    еженедельно по вторникам 14.00 – 20.00 час. тел. 33 99 28
                </td>
            </tr>
            <tr>
                <td>
                     ЛАПШИНА<br> 
Виктория Валерьевна<br>
                    
                </td>
                <td>
                    Начальник отдела организационно-кадровой работы
                </td>
                <td>
                    еженедельно по четвергам 8.00 – 13.00 час. тел. 33 99 07
                </td>
            </tr>
            <tr>
                <td>
                    ПИНЯЕВ<br>
                    Игорь Николаевич<br>
                </td>
                <td>
                    Начальник отдела жилищно-коммунального хозяйства и благоустройства
                </td>
                <td>
                   еженедельно по вторникам 14.00 – 20.00 час. тел. 33 99 08
                </td>
            </tr>
            <tr>
                <td>
                    МАКАНИНА<br>
                    Ирина Арсеньевна<br>
                </td>
                <td>
                    Начальник отдела образования, спорта и туризма
                </td>
                <td>
                    еженедельно по четвергам 8.00 – 13.00 час. 33 27 86
                </td>
            </tr>
            <tr>
                <td>
                    ДРОБОТОВА<br>
                    Ирина Эдуардовна<br>
                </td>
                <td>
                    начальник отдела идеологической работы, культуры и по делам молодежи
                </td>
                <td>
                    еженедельно по средам 8.00 – 13.00 час. тел. 33 99 34
                </td>
            </tr>
            <tr>
                <td>
                    
                        КОШМАН<br> 
                        Татьяна Леонидовна<br>
                    
                </td>
                <td>
                    Начальник отдела&nbsp; по учету и распределению жилья
                </td>
                <td>
                    еженедельно по средам 08.00 – 13.00 час. тел. 33 99 18 
                </td>
            </tr>
            <tr>
                <td>
                    КРАСОВСКАЯ<br>
                    Татьяна Александровна<br>
                </td>
                <td>
                    Начальник отдела экономики
                </td>
                <td>
                    еженедельно по вторникам 8.00 – 13.00 час. тел. 33 99 06
                </td>
            </tr>
            <tr>
                <td>
                    КУДАКО<br>
                    Наталья Александровна<br>
                </td>
                <td>
                    Заведующий юридическим сектором
                </td>
                <td>
                    еженедельно по вторникам 8.00 – 13.00 час. тел. 33 99 13
                </td>
            </tr>
            <tr>
                <td>
                    АСАДЧАЯ<br>
                    Марина Владимировна<br>
                </td>
                <td>
                    Заместитель председателя комиссии по делам несовершеннолетних
                </td>
                <td>
                   еженедельно по вторникам 8.00 – 13.00 час. тел. 33 99 13
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>

<script type="text/javascript">
        var no_active_delay = 600; // Количество секунд простоя мыши, при котором пользователь считается неактивным
        var now_no_active = 0; // Текущее количество секунд простоя мыши
        setInterval("now_no_active++;", 1000); // Каждую секунду увеличиваем количество секунд простоя мыши
        setInterval("updateChat()", 1000); // Запускаем функцию updateChat() через определённый интервал
        document.ontouchend = activeUser; // Ставим обработчик на движение курсора мыши
  function activeUser() {
            now_no_active = 0; // Обнуляем счётчик простоя секунд
      }
  function updateChat() {
      if (now_no_active >= no_active_delay) { // Проверяем не превышен ли "предел активности" пользователя
        window.location = '/Home/Index';
            
        return;
      }
      /* Обновляем чат */
    }
</script>
